.UiInput {
  &_root {
    position: relative;
  }

  &_container {
    background: var(--color-component-background);
    padding: 17px 20px;
    border-radius: var(--border-radius-components);
    transition: box-shadow .2s ease-in;
  }

  &_content {
    display: flex;
    align-items: center;
  }

  &_icon {
    margin-right: 12px;
    opacity: 1;
    transition: all .2s ease-in;
  }

  &_input {
    width: 100%;
    transition: transform .2s ease-in;

    input {
      font-size: var(--font-size-paragraph);
      color: var(--color-text-primary);
      letter-spacing: 0;

      &::placeholder {
        color: var(--color-text-secondary);
      }
    }
  }

  &_root:hover, &_focused {
    .UiInput_container {
      box-shadow: 0 0 5px var(--color-input-shadow);
    }

    .UiInput_icon {
      opacity: 0;
      margin-right: 0;
      transform: translateX(-16px);
    }

    .UiInput_input {
      transform: translateX(-16px);
    }
  }
}

.NumericInput {
  &_container {
    border: 1px solid #F0F0F0;
    border-radius: var(--border-radius-components);
    padding: 10px 16px;
  }

  &_content {
    display: flex;
    align-items: center;
  }

  &_input {
    font-size: var(--font-size-paragraph-s);
    line-height: 19px;
  }

  &_icon {
    width: 10px;
  }
}

.TitledInput {
  &_caption {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: var(--font-size-paragraph-l);
    line-height: 19px;
  }

  &_input {
    &__container {
      position: relative;
    }

    &__content {
      margin-bottom: 8px;
      padding: 13px 18px;
      border: 1px solid #EFEFEF;
      border-radius: 10px;
      background: transparent;
      transition: all .2s ease-in;

      input {
        font-size: var(--font-size-paragraph);
        line-height: 22px;

        &::placeholder {
          color: var(--color-text-secondary);
        }
      }
    }

    &Warning {
      .TitledInput_input {
        &__content {
          border-color: #FE0000;
        }

        &__warning {
          opacity: 1;
        }
      }
    }

    &__warning {
      height: 19px;
      font-size: var(--font-size-paragraph-s);
      color: #FE0000;
      opacity: 0;
    }
  }
}
