.Categories {
  &_container {
    position: relative;
    border-radius: 15px;
    background: var(--color-component-background);
  }

  &_content {
    display: flex;
    padding: 6px 5px;
  }

  &_item {
    padding: 14px 16px;
    font-size: var(--font-size-paragraph);
    font-weight: 700;

    button {
      font-size: inherit;
      font-weight: inherit;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover, &__active {
      border-radius: 15px;
    }

    &:hover:not(&__active) {
      background: var(--color-secondary);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
      opacity: 0.8;
    }

    &__active {
      background: var(--color-secondary);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    }
  }
}