.HeaderTitle {

  &_content {
    display: flex;
    align-items: center;
  }

  &_icon {
    margin-right: 15px;
  }

  &_text {
    display: flex;
    flex-direction: column;

    &__title {
      h2 {
        font-size: var(--font-size-title2);
        font-weight: 900;
        letter-spacing: 0.01em;
        color: var(--color-text-primary);
      }
    }

    &__description {
      p {
        font-size: var(--font-size-paragraph);
        font-weight: 400;
        letter-spacing: 0;
        color: var(--color-text-secondary);
      }
    }
  }
}