.container {
  width: 60%;
  background: var(--color-background);
  border-radius: var(--border-radius-order-widgets);
}

.header {
  padding: 30px 35px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border-header);

  &_leftPart {
    h2 {
      font-size: var(--font-size-title2);
      font-weight: 700;
    }
  }

  &_rightPart {
    display: flex;
    column-gap: 20px;
  }
}

.content {
  display: flex;
  padding-inline: 35px;
}

.inputs {
  margin-block: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 24px;
}

.input {
  width: calc(50% - 12px);
  height: 72px;
}