body {
  min-height: 150vh;
}

.HomePage {
  &_root {
    margin-top: 154px;
  }

  &_container {
    padding: 0 64px;
  }

  &_title {
    font-size: var(--font-size-title1);
    font-weight: 700;
    margin-bottom: 20px;
  }

  &_categoriesSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  &_content {
    width: 100%;
    display: flex;
  }

  &_filtration {
    width: 245px;
  }

  &_productList {
    flex: 1;
    margin-left: 48px;
  }
}