.ProductContainer {
  &_title {
    margin: 0 0 20px 25px;

    h2 {
      font-size: var(--font-size-title2);
      font-weight: 700;
    }
  }

  &_container {
    padding-top: 30px;
  }

  &_products {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }


  &_product {
    width: 25%;
    margin-bottom: 50px;
    padding-inline: 25px;
  }
}