.ProductCard {
  &_root {
    display: flex;
    flex-direction: column;
  }

  &_header {
    margin-bottom: 15px;
    border-radius: var(--border-radius-components);
  }

  &_imageCover {
    aspect-ratio: 1.1;
    position: relative;
    border-radius: inherit;
  }

  &_cover {
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF7EE;
    background-size: 200px;
    --webkit-background-position: center;
    background-position: center;
  }

  &_image {
    padding: 24px 37px;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &_footer {
    display: flex;
    flex-direction: column;
  }

  &_container {
    margin-bottom: 13px;
  }

  &_title {
    margin-bottom: 7px;

    h3 {
      font-weight: 700;
      font-size: var(--font-size-title3);
      line-height: 30px;
    }
  }

  &_description {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: var(--font-size-paragraph-s);
      line-height: 21px;
      overflow: hidden;
    }
  }

  &_secondaryInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_price {
    p {
      font-size: 20px;
      line-height: 27px;
    }

    &Value {
      font-weight: 700;
    }
  }
}