.container {
  margin-block: 15px;
}

.orderItems {
  display: flex;
  flex-direction: column;
}

.orderItem {
  padding-block: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid #F7F7F7;
  }
}