.Header {
  &_root {
    position: relative;
  }

  &_container{
    padding: 43px 66px;
    border-bottom: #EDEDED solid 1px;
  }

  &_content {
    display: flex;
    justify-content: space-between;
  }

  &_leftPart {
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 21px;

    &__Title {
      margin-right: 40px;
      flex-shrink: 0;
    }

    &__Searcher {
      height: 52px;
      min-width: 200px;
      flex-grow: 1;
    }
  }

  &_rightPart {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}