:root {
  --color-primary: #FE5F00;
  --color-secondary: #FF7EE;
  --color-text-primary: #000000;
  --color-text-secondary: #B1B1B1;
  --color-filter-background: #FAFAFA;
  --color-checkbox-background: #F1F1F1;
  --color-background: #FFFFFF;

  --font-size-paragraph: 16px;
  --font-size-title2: 24px;
}