:root {
  --color-primary: #FE5F00;
  --color-primary-lighten: #ff7727;
  --color-secondary: #FFFFFF;

  --color-text-primary: #000000;
  --color-text-secondary: #B1B1B1;

  --color-checkbox-background: #F1F1F1;

  --color-component-background: #F9FAFB;
  --color-input-shadow: rgba(0, 0, 0, 0.1);

  --color-filter-background: #FAFAFA;

  --color-background: #FFFFFF;

  --color-button-shadow: rgba(0, 0, 0, 0.25);

  --font-size-paragraph: 16px;
  --font-size-title1: 36px;
  --font-size-title2: 24px;

  --border-radius-input: 15px;
}