:root {
  --color-primary: #FE5F00;
  --color-primary-lighten: #ff7727;
  --color-primary-super-light: #FFFAF6;
  --color-primary-darken: #b54300;
  --color-secondary: #FFFFFF;
  --color-secondary-darken: #f8f8f8;
  --color-secondary-more-darken: #f4f4f4;
  --color-button-disabled: #c4c4c4;

  --color-text-primary: #000000;
  --color-text-secondary: #B1B1B1;

  --color-component-background: #F9FAFB;
  --color-input-shadow: rgba(0, 0, 0, 0.1);

  --color-filter-background: #FAFAFA;

  --color-background: #FFFFFF;

  --color-button-shadow: rgba(0, 0, 0, 0.25);

  --color-border-header: #EDEDED;
  --color-border-exit-button: #F7F7F7;

  --font-size-paragraph-s: 14px;
  --font-size-paragraph: 16px;
  --font-size-title1: 36px;
  --font-size-title2: 24px;
  --font-size-title3: 22px;
  --font-size-title4: 16px;

  --border-radius-components: 15px;
  --border-radius-checkbox: 8px;
  --border-radius-popup: 24px;
}